.modalBackground{
    width: 100vw;
    height: 100vh;
    background-color: rgba(219, 103, 190, 0.39);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer{
    width: 600px;
    height: 280px;
    border-radius: 12px;
    background-color: white;
    box-shadow: black;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: black;
}

.closeBtn {
    display: flex;
    justify-content: flex-end;
}

.closeButton button {
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.body {
    flex: 50%;
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    flex-direction: row;
    color: black;
}